<h1>Yay! You’re on Rails <%= Rails.version() %>!</h1>
<h4>with <%= "#{RUBY_ENGINE}-#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}" %></h4>
<h3>Docs</h3>

<ul>
<li><a href="https://github.com/rails/rails/tree/48f896c">GitHub</a></li>
<li><a href="http://edgeguides.rubyonrails.org/"><p>Edge Guides</p></a></li>
<li><a href="http://edgeapi.rubyonrails.org/"><p>Edge Api</p></a></li>
<%= image_tag("rails5.jpg", height: "350", width: "600", alt: "rails 5 start") %>
<br />


