<h1>Yay! You’re on Rails <%= Rails.version() %>!</h1>
<h4>with <%= "#{RUBY_ENGINE}-#{RUBY_VERSION}-p#{RUBY_PATCHLEVEL}" %></h4>
<h3>Docs</h3>

<ul>

<li><a href="http://guides.rubyonrails.org/5_0_release_notes.html"><p>Rails 5 release notes</p></a></li>
<li><a href="https://github.com/rails/rails/tree/v5.0.0"><p>GitHub</p></a></li>
<li><a href="http://guides.rubyonrails.org/"><p>Guides</p></a></li>
<li><a href="http://api.rubyonrails.org/"><p>Api</p></a></li>
<li><a href="http://guides.rubyonrails.org/testing.html"><p>Testing Guides</p></a></li>
<li><a href="http://guides.rubyonrails.org/upgrading_ruby_on_rails.html"><p>Upgrading Ruby on Rails app</p></a></li>
</ul>
<%= image_tag("rails5.jpg", height: "350", width: "600", alt: "rails 5 start") %>
<br />
<%= link_to "Last Posts", posts_path %>


